<html>
	<head>
	</head>
	<body>
		<div> Thymeleaf </div>
		<table border="1">
			<tr th:each="gorod : ${context}" >
				<td th:text = " ${gorod.getId()} " /> 	
				<td th:text = " ${gorod.getCity()} " /> 	
				<td th:text = " ${gorod.getCountry()} " /> 	
				<td th:text = " ${gorod.getPopulation()} " /> 	
			</tr>
		</table>
		<form method="POST" action="/page/add">
			<table>
				<tr>
					<td>
						Create new city
					</td>
				</tr>
				<tr>
					<td>
						City: 
					</td>
					<td>
						<input type="text" name="city">
					</td>
				</tr>
				<tr>
					<td> 
						Country: 
					</td>
					<td> 
						<input type="text" name="country">
					</td>
				</tr>
				<tr>
					<td>
						Population:	
					</td>
					<td>
						<input type="number" name="population">
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit">
					</td>
				</tr>
			</table>
		</form>

		<form method="POST" action="/page/update">
			<table>
				<tr>
					<td>
						Update existing city
					</td>
				</tr>
				<tr>
					<td>
						Id:
					</td>
					<td>
						<input type="number" name="id">
					</td>
				</tr>
				<tr>
					<td>
						City: 
					</td>
					<td>
						<input type="text" name="city">
					</td>
				</tr>
				<tr>
					<td> 
						Country: 
					</td>
					<td> 
						<input type="text" name="country">
					</td>
				</tr>
				<tr>
					<td>
						Population:	
					</td>
					<td>
						<input type="number" name="population">
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit">
					</td>
				</tr>
			</table>
		</form>

		<form method="POST" action="/page/delete">
			<table>
				<tr>		
					<td>
						Delete city:						
					</td>
				</tr>		
				<tr>		
					<td>
						Id:						
					</td>
					<td>
						<input type="number" name="id">		
					</td>
				</tr>		
				<tr>		
					<td>
						<input type="submit">
					</td>
				</tr>		
			</table>
		</form>
	</body>
	
</html>